<div class="game-container">

  <div class="box" *ngIf="isCreated() || !matchState">
    <h1>Spiel-ID: {{gameId}}</h1>

    <app-playerscreen [players]="players"
                      [activePlayer]="activePlayer"
                      [myPlayerId]="playerId">
    </app-playerscreen>

    <div *ngIf="!players || !players.length > 0" class="spinner-container">
      <mat-spinner [diameter]="50"></mat-spinner>
    </div>

    <button mat-raised-button color="primary" (click)="giveCards()"
            [disabled]="requestedStart || players.length <= 1">Karten geben
    </button>
  </div>

  <div class="box" *ngIf="isOver()">
    <h1>
      Das Spiel ist vorbei.<br>
      {{winner?.name}} hat gewonnen!
    </h1>
    <button mat-raised-button color="primary" (click)="reload()">Hauptmenü</button>
  </div>

  <div class="game" *ngIf="isStarted()">
    <div class="stack">
      <div class="stack-cards">
        <div class="stack-container">
          <app-play-card-back (click)="drawCard()"></app-play-card-back>
        </div>
        <div class="stack-container" (mouseenter)="hoverOverDiscarded = true" (mouseleave)="hoverOverDiscarded = false">
          <app-play-card *ngIf="!hoverOverDiscarded || !hasMoreThanOneDiscardedCard" [card]="lastDiscardedCard"
                         [isClickable]="false"></app-play-card>
          <app-play-card *ngIf="hoverOverDiscarded && hasMoreThanOneDiscardedCard"
                         [card]="beforeLastDiscardedCard" [isClickable]="false"></app-play-card>
        </div>
      </div>
    </div>
    <div>
      <div class="cards" *ngIf="!wishMode">
        <app-play-card *ngFor="let card of cards" [card]="card"
                       (selectCard)="selectCard($event)"></app-play-card>
      </div>
      <div class="wish-mode" *ngIf="wishMode">
        <h1>Welche Karte soll als nächstes kommen?</h1>
        <div class="wish-cards">
          {{wishCards | json}}
          <app-play-card *ngFor="let wishCard of wishCards" [card]="wishCard"
                         (selectCard)="selectWishCard($event)"></app-play-card>
        </div>
      </div>
      <div class="player">
        <app-playerscreen [players]="players"
                          [activePlayer]="activePlayer"
                          [showNumberOfCards]="true"
                          [myPlayerId]="playerId">
        </app-playerscreen>
      </div>
      <app-game-hint [activePlayer]="activePlayer" [myPlayerId]="playerId" [specialHint]="specialHint"></app-game-hint>
    </div>
  </div>

</div>
